@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Oswald:wght@200..700&display=swap'); 

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Edu VIC WA NT Beginner", cursive;
}

.cabecalho {
    background-color: rgb(233, 150, 226);
    color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 100px ;
    height: 90px ;
    border-radius: 50%.;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem {
    width: 30%;
}

.escola {
    background-image: linear-gradient(#0b5ee4,#d3168e);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escolinha-conteudo {
    width: 35%;
}

.escolinha-titulo {
padding: 24px 0;
}

.aluno {
    padding: 24px 0;
}

.estudante-imagem {
    width: 120px;
}

.aluno-icone {
    width: 24px;
    padding: 4px 8px;
}

.aluno-div {
    text-align: center;
    padding: 16px 0;
}

.aluno-titulo {
    text-align: center;
    padding: 50px 0;
}

.aluno-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape { 
    background-color: black;
    color: white;
    text-align: center;
}

.rodape-icone {

}